
.nav__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fff;
  position: relative;
}

.nav__menu {
  display: none;
  color: rgb(163, 156, 156);
}

.nav__elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav__elements ul li{
  margin: 10px;
  cursor: pointer;
}
.nav__menu{
  display: none;
}
@media (max-width: 55em) {
  .nav__menu{
    display: block;
    color: rgb(163, 156, 156)
  }
  h1{
    text-align: center;
    flex: 1;
  }
  .nav__menu--icon {
    display: block;
    cursor: pointer;
  }

  .nav__elements {
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: #fff;
    width: 0px;
    height: calc(35vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    text-align: center;
    border-radius:10px ;
    
  }

  .nav__elements.active {
    width: 100px;
    align-items: center;
  }

  .nav__elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav__elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
